@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Entry at the Gate, an application which handles Guest Management for your organisation. Register your employees
        in this application and use features like Dynamic Escort Allocation, Instant Notifications, Individual employee accounts etc.</p>
    </div>
</div>