
@{
    ViewBag.Title = "Notifications";
}
<h2>Notifications</h2>

<div>
    <dl class="dl-horizontal">
        
        @Html.Raw(ViewBag.notifications)
        @*For Debuggin Purpose.TODO*@
        @if (Request.IsAuthenticated && User.IsInRole("Employee"))
        {
            @Html.ActionLink("Transfer Job", "FreeEscort", "RolesAdmin", new { escortID = ViewBag.userId }, new { @class = "EscortLink btn btn-danger" })
        }
    </dl>
</div>

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script>
    $(".EscortLink").click(function (e) {

        e.preventDefault();
        $.ajax({

            url: $(this).attr("href"), // comma here instead of semicolon
            success: function () {
                alert("Escort Request Transferred!");  // or any other indication if you want to show
            }

        });

    });
</script>